# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly define line endings for specific file types
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
